langchain
langchain-groq
faiss-cpu
tiktoken
langchain-openai
langchain-community
chromadb
pydantic
pypdf
python-dotenv
sentence-transformers
pymupdf
unstructured
unstructured[pdf]
openpyxl
pandas
jq
langchain-google-genai 
google-generativeai
langchain-experimental
langchain-huggingface
rank_bm25